body {
    background: #FFF5E1;
    background: linear-gradient(0deg,rgba(255, 245, 225, 1) 0%, rgba(232, 244, 184, 1) 100%);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }