{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="container">
    <h2>Iniciar Sesión</h2>
        {% if form.non_field_errors %}
   <div style="color: red;">
       {% for error in form.non_field_errors %}
           <p>{{ error }}</p>
       {% endfor %}
   </div>
    {% endif %}

<form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}

    <label for="{{ form.login.id_for_label }}">{{ form.login.label }}</label>
    {{ form.login }}

    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
    {{ form.password }}

 

    <button type="submit">Entrar</button>
    <a href="{% url 'home' %}">Ingresar como invitado</a>
</form>
    <p><a href="{% url 'account_reset_password' %}">¿Olvidaste tu contraseña?</a></p>
    <p>¿No tienes cuenta? <a href="{% url 'account_signup' %}">Regístrate</a></p>
</div>
</body>
</html>