{% load static %}

<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <h2>Club del Gran Gusano</h2>
        </div>
        <div class="navbar-links">
            {% if user.is_authenticated %}
                <!-- Link al Chat -->
                <a href="{% url 'chat' %}" class="navbar-link">Chat Comunitario</a>

                <!-- Menú desplegable de usuario -->
                <div class="navbar-dropdown">
                    <button class="navbar-user">
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            {{ user.email|slice:":user.email.index('@')" }}
                        {% endif %}
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'perfil' %}">Mi Perfil</a>
                        <a href="{% url 'account_logout' %}">Cerrar sesión</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'account_login' %}">Iniciar sesión</a>
                <a href="{% url 'account_signup' %}">Registrarse</a>
            {% endif %}
        </div>
    </div>
</nav>

