<!-- password_reset -->
{% load i18n %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">

{% block content %}

<div class="card">
    <h2 class="card-title">{% trans "¿Olvidaste tu contraseña?" %}</h2>
    <p>{% trans "Te enviaremos un correo electrónico para restablecer tu contraseña." %}</p>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        
        <button type="submit" class="btn btn-primary">{% trans "Enviar correo de recuperación" %}</button>
    </form>
</div>
{% endblock %}
