{% load static %}

<link rel="stylesheet" href="{% static 'css/logout.css' %}">


{% block content %}
<div class="card">
  <h2 class="card-title">Verifica tu correo</h2>
  <p>Te hemos enviado un correo electrónico para verificar tu cuenta. Sigue el enlace dentro del mensaje para completar el registro.</p>
  <p>Si no lo ves en tu bandeja de entrada, revisa la carpeta de correo no deseado.</p>
  
  <a href="{% url 'account_login' %}" class="btn btn-primary">Volver al inicio de sesión</a>
</div>
{% endblock %}