# Imagenes
/media/

# Python
*.pyc
__pycache__/

# Entorno virtual
venv/

# SQLite database
*.sqlite3

# Archivos locales
.env
jaas-private-key.pk
Key 8_6_2025, 11_49_33.pub

# Archivos del sistema operativo
.DS_Store

# Archivos de Django
db.sqlite3